.Espo-h1{
    color: #fc0000;
}

.EspoP{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.EspoBackground{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftenor.com%2Fview%2Fgoofy-ahh-gif-25691721&psig=AOvVaw3urZ842j26rDue0qR64zCZ&ust=1700301922020000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLipt7LkyoIDFQAAAAAdAAAAABAE);
}