<div class="EspoBackground2">
<h1 class="Espo-h1">About Me</h1>
<p class="EspoP">My name is Lloyd Philip Honongan Tejada</p>
<p class="EspoP">I live in Manolo Fortich, Bukidnon</p>
<p class="EspoP">I like to eat, read, play games and procastinate. I'm a lazy person, ngl.</p>
<p class="EspoP">I dislike wasted food, monetised "free fiction", overpriced games(which I'll still pay if it's good enough), and work.</p>
<p class="EspoP">Currently playing Limbus Company(best gacha game fight me). Rodion did nothing wrong, Charon best girl</p>
<p class="EspoP">Fallout: New Vegas is the best RPG, Nay, BEST GAME that humanity has ever created.</p>