<h2 class="Espo-h2">Portfolio List</h2>

<dl class="Espo-dl">
  <dt>Team Emblem - Event Driven Programming Teams</dt>
  <dd><img src="https://i.pinimg.com/originals/c3/20/a2/c320a2b8ccde4f9ef30c22d092186809.png"></dd>
  <dt>01 Laboratory - Github</dt>
  <dd><a href="https://github.com/Espostaneous?authuser=1" target="_blank">-My Github Profile Link</a></dd>
  <dt>GitHub Fork and Pull Request</dt>
  <dd><a href="https://github.com/hexedhorizon/it24-main" target="_blank">-Did a Fork an Pull Request on it24-main</a></dd>
  <dt>External Scripts - Cascading Style Sheets (Group)</dt>
  <dd><a href="https://github.com/hexedhorizon/it24-main/tree/main/css" target="_blank">-Made a CSS for our group</a></dd>
  <dt>Single Page Applications - Personal/Portfolio Website</dt>
  <dd><a href="https://github.com/Espostaneous/spa-jquery/tree/Espo-Single-Page-Application" target="_blank">-Forked SPA to create my own</a></dd>
  <dt>First Iteration - Single Page Application</dt>
  <dd><a href="https://github.com/Espostaneous/spa-jquery/tree/Espo-Single-Page-Application" target="_blank">-My SPA repository</a></dd>
  <dt>Prelim and Midterm Assessment</dt>
  <dd><a href="https://github.com/Espostaneous/it24-midterm" target="_blank">-Repository used for the Assessment</a></dd>
</dl>