<h2 class="Espo-h2">Portfolio List</h2>

<dl class="Espo-dl">
  <dt>1. it24-midterm</dt>
  <dd><img src='../Images/it24-midterm.jpg'></dd>
  <dd><a href=https://github.com/Espostaneous/it24-midterm" target="_blank">-My oldest project recorded in github, collab with Jethro</a></dd>
  <br></br>
  <dt>2. School-Works</dt>
  <dd><img src='../Images/School-Works.png'></dd>
  <dd><a href="https://github.com/Espostaneous/School-Works" target="_blank">-Old bouncing balls project on java, collabed with an abarquez brother, honestly forgo which one</a></dd>
  <br></br>
  <dt>3. IT23B-Elective-Portfolio</dt>
  <dd><img src='../Images/IT23B-Elective-Portfolio.jpg'></dd>
  <dd><a href="https://github.com/Espostaneous/IT23B-Elective-Portfolio" target="_blank">-Elective Portfolio project with Lawrence Heras, unfortunately image urls have expired so no homepage photos</a></dd>
  <br></br>
  <dt>4. ABARQUEZ-IRVEN_MIJARES_TEJADA_GUNDAYA_E-COMMERCE_SECTIONC</dt>
  <dd><img src='../Images/ABARQUEZ-IRVEN_MIJARES_TEJADA_GUNDAYA_E-COMMERCE_SECTIONC.jpg'></dd>
  <dd><img src='../Images/ABARQUEZ-IRVEN_MIJARES_TEJADA_GUNDAYA_E-COMMERCE_SECTIONC2.jpg'></dd>
  <dd><a href="https://github.com/Espostaneous/ABARQUEZ-IRVEN_MIJARES_TEJADA_GUNDAYA_E-COMMERCE_SECTIONC" target="_blank">-Group project on E-commerce with Irven, Gian, and Jaysash. We had to present this at the covered court I vaguely recall</a></dd>
  <br></br>
  <dt>5. Food-Ordering-System</dt>
  <dd><img src='../Images/Food-Ordering-System.png'></dd>
  <dd><a href="https://github.com/Espostaneous/Food-Ordering-System/tree/aek" target="_blank">-E-commerce Project with Gian and Ar-J, brings me back, had to configure xampp and database to open this</a></dd>
  <br></br>
  <dt>6. it24-main</dt>
  <dd><img src='../Images/it24-main.jpg'></dd>
  <dd><a href="https://github.com/Espostaneous/it24-main" target="_blank">-Event Driven Programming with all sections, this was a very fun project, refreshing it to see what new cool things people added(or broke, it mostly broke, that was also very fun to watch)</a></dd>
  <br></br>
  <dt>7. IAS2-System-Projects</dt>
  <dd><img src='../Images/IAS2-System-Projects.jpg'></dd>
  <dd><a href="https://github.com/Espostaneous/IAS2-System-Projects" target="_blank">-IAS2 prelim project that will try to detect malicious files in a chosen folder. My idea for this system is that when a user downloads something from the Internet, this program would first monitor the folder location of the download for any malicious activity and alert the user.</a></dd>
</dl>
